name: r on debian 12 bookworm arm

on:
  push:
    branches: [main]
    paths:
      - 'README.md'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: umontano
          password: ${{ secrets.GH_PAT }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/arm/v7
#--platform linux/arm/v7
#,linux/arm64/v8,linux/arm/v5,linux/386,linux/amd64
          #linux/arm64
          tags: |
            umontano/rarm:latest
            ghcr.io/umontano/rarm:latest
          push: true
